In [115]:
import pandas as pd
import warnings
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer

warnings.filterwarnings('ignore')

url = "https://raw.githubusercontent.com/kevirui/challenge-telecom-x/refs/heads/ramaDev/data/data_tratada.csv"

data = pd.read_csv(url)

In [116]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7043 non-null   object
 1   Churn                      7043 non-null   object
 2   customer.gender            7043 non-null   object
 3   customer.SeniorCitizen     7043 non-null   int64
 4   customer.Partner           7043 non-null   object
 5   customer.Dependents        7043 non-null   object
 6   customer.tenure            7043 non-null   int64
 7   phone.PhoneService         7043 non-null   object
 8   phone.MultipleLines        7043 non-null   object
 9   internet.InternetService   7043 non-null   object
 10  internet.OnlineSecurity    7043 non-null   object
 11  internet.OnlineBackup      7043 non-null   object
 12  internet.DeviceProtection  7043 non-null   object
 13  internet.TechSupport       7043 non-null   object
 14  internet.StreamingTV       7043 non-null   object
 15  internet.StreamingMovies   7043 non-null   object
 16  account.Contract           7043 non-null   object
 17  account.PaperlessBilling   7043 non-null   object
 18  account.PaymentMethod      7043 non-null   object
 19  Total.Day                  7032 non-null   float64
 20  account.Charges.Monthly    7043 non-null   float64
 21  account.Charges.Total      7032 non-null   float64
dtypes: float64(3), int64(2), object(17)
memory usage: 1.2+ MB

In [117]:
data.describe()

,customer.SeniorCitizen,customer.tenure,Total.Day,account.Charges.Monthly,account.Charges.Total
count,7043.000000,7043.000000,7032.000000,7043.000000,7032.000000
mean,0.162147,32.371149,2.159879,64.761692,2283.300441
std,0.368612,24.559481,1.006217,30.090047,2266.771362
min,0.000000,0.000000,0.460000,18.250000,18.800000
25%,0.000000,9.000000,1.207500,35.500000,401.450000
50%,0.000000,29.000000,2.350000,70.350000,1397.475000
75%,0.000000,55.000000,3.010000,89.850000,3794.737500
max,1.000000,72.000000,4.050000,118.750000,8684.800000

# Tratamiento y Codificación

In [118]:
data = data.drop(columns=['customerID', 'account.Charges.Total', 'Total.Day'])

```bash
data['customer.Partner'] = data['customer.Partner'].replace({'No':0, 'Yes':1}).astype(int)
data['customer.Dependents'] = data['customer.Dependents'].replace({'No':0, 'Yes':1}).astype(int)
data['account.PaperlessBilling'] = data['account.PaperlessBilling'].replace({'No':0, 'Yes':1}).astype(int)
```

```bash
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder

categoricas = ['customer.gender', 'account.Contract', 'account.PaymentMethod']

one_hot_enc = make_column_transformer((OneHotEncoder(handle_unknown='ignore'), categoricas), remainder='passthrough')
data = one_hot_enc.fit_transform(data)
data = pd.DataFrame(data, columns=one_hot_enc.get_feature_names_out())
data.sample(5)
```

In [119]:
def preproceso(df):
    data = df.copy()

    # Diccionario de reemplazos para binarias
    reemplazos = {
        'Yes': 1,
        'No': 0,
        'No phone service': 0,
        'No internet service': 0
    }

    # Columnas binarias
    binarios = [
        'Churn', 'customer.Partner', 'customer.Dependents',
        'phone.PhoneService', 'phone.MultipleLines', 'internet.OnlineSecurity',
        'internet.OnlineBackup', 'internet.DeviceProtection',
        'internet.TechSupport', 'internet.StreamingTV',
        'internet.StreamingMovies', 'account.PaperlessBilling'
    ]

    # Columnas nominales
    nominales = ['customer.gender', 'account.Contract', 'account.PaymentMethod', 'internet.InternetService']

    # Procesar binarias
    for col in binarios:
        if col in data.columns:
            data[col] = data[col].replace(reemplazos).astype(int)

    # One-Hot Encoding para nominales
    data = pd.get_dummies(data, columns=nominales, drop_first=True)

    return data

data_procesada = preproceso(data)

In [121]:
data_procesada['Churn'].value_counts()

Churn
0    5174
1    1869
Name: count, dtype: int64

In [122]:
data_procesada['Churn'].value_counts(normalize=True)

Churn
0    0.73463
1    0.26537
Name: proportion, dtype: float64

Hay desbalance de clases en relación a la evasión

# Normalización

# Analisis de Correlación

# Selección de variables

# Entrenamientos de modelos

## Entrenamiento modelo baseline

## Entrenamiento Random Forest

## Entrenamiento Decision Tree

# Evaluar Modelos

# Interpretación

# Conclusión

Principales factores que influyen en el churn ( la evasión del cliente ):
- 1
- 2